body {
  margin: 40px;
}

.winnerText {
  font-size: 34px;
  margin-top: 120px;
  color: #c5b81a;
}

.field {
  display: grid;
  grid-gap: 10px;
  margin-top: 75px;
  background-color: #398d90;
  color: #444; /* 
  grid-template-columns: 65px 65px 65px 65px 65px 65px 65px 65px 65px; */
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 110px 325px 110px;
}

#next-round {
  margin-top: 20px;
  box-shadow: rgb(175, 222, 255) 0px 1px 0px 0px;
  background: linear-gradient(rgb(100, 198, 255) 5%, rgb(3, 99, 181) 100%)
    rgb(100, 183, 255);
  border-radius: 8px;
  border: 1px solid rgb(3, 103, 206);
  display: inline-block;
  cursor: pointer;
  color: rgb(252, 252, 252);
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 25px;
  margin-right: auto;
  margin-left: auto;
  text-decoration: none;
  text-shadow: rgb(0, 0, 0) 0px 1px 0px;
}

.box {
  border: 1px solid #444;
  color: #444;
  border-radius: 5px;
  padding: 5px;
  font-size: 150%;
}
/* 
.box .winnerText {
}
 */
.cardcontainer {
  width: 200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#cardback {
  height: 100px;
}

.box .n {
  height: 25px;
}

.a {
  grid-column: 1;
  grid-row: 1;
}
.b {
  grid-column: 2;
  grid-row: 1;
}
.c {
  grid-column: 3;
  grid-row: 1;
}
.d {
  grid-column: 4;
  grid-row: 1;
}
.e {
  grid-column: 5;
  grid-row: 1;
}

.f {
  grid-column: 6;
  grid-row: 1;
}

.g {
  grid-column: 7;
  grid-row: 1;
}

.h {
  grid-column: 8;
  grid-row: 1;
}
.i {
  grid-column: 9;
  grid-row: 1;
}
/* 
.j {
  grid-column: 1/3;
  grid-row: 2;
}
.k {
  grid-column: 2;
  grid-row: 2;
} */
.l {
  grid-column: 1/5;
  grid-row: 2;
  text-align: center;
}
.m {
  grid-column: 5;
  grid-row: 2;
  text-align: center;
}
.n {
  grid-column: 6/10;
  grid-row: 2;
  text-align: center;
} /* 
.o {
  grid-column: 6/10;
  grid-row: 2;
} */
/* .p {
  grid-column: 9;
  grid-row: 2;
} */
.q {
  grid-column: 1;
  grid-row: 3;
}
.r {
  grid-column: 2;
  grid-row: 3;
}
.s {
  grid-column: 3;
  grid-row: 3;
}
.t {
  grid-column: 4;
  grid-row: 3;
}
.u {
  grid-column: 5;
  grid-row: 3;
}
.v {
  grid-column: 6;
  grid-row: 3;
}
.w {
  grid-column: 7;
  grid-row: 3;
}
.x {
  grid-column: 8;
  grid-row: 3;
}
.y {
  grid-column: 9;
  grid-row: 3;
}
