#endTextContainer {
  background-color: #046d71;
  width: 50%;
  padding: 10px;
  display: grid;
  text-align: center;
  border-radius: 5px;
  color: white;
  margin: 5% auto 40px auto;
  box-shadow: 0px 0px 15px 4px rgba(113, 113, 113, 0.68);
}

#endTextContainer h1 {
  font-size: 40px;
  font-weight: 800;
}

#endPlayAgainButton {
  margin-top: 20px;
  box-shadow: rgb(175, 222, 255) 0px 1px 0px 0px;
  background: linear-gradient(rgb(100, 198, 255) 5%, rgb(3, 99, 181) 100%)
    rgb(100, 183, 255);
  border-radius: 8px;
  border: 1px solid rgb(3, 103, 206);
  display: inline-block;
  cursor: pointer;
  color: rgb(252, 252, 252);
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5%;
  padding: 20px 90px;
  text-decoration: none;
  text-shadow: rgb(0, 0, 0) 0px 1px 0px;
}
