/* .full-container {
  width: 50px;
}

.card-container {
  width: 50px;
  margin-left: auto;
  margin-right: auto;
}
 */
#pics {
  height: 250px;
}

#character_name {
  font-weight: 800;
  font-size: 18px;
  color: white;
  text-shadow: rgb(0, 0, 0) 0px 1px 0px;
}
.card {
  height: 280px;
  background-color: #64b7ff;
  border-radius: 15px;
  opacity: 100%;
  box-shadow: 0px 0px 15px 4px rgba(113, 113, 113, 0.68);
  /* margin: 20px; */
  font-size: 1rem;
  float: left;
  width: 500px;
  margin-top: 5px;
  padding-top: 20px;
}

label {
  font-weight: bold;
}

#card-details {
  margin-top: 0px;
  margin: 0px;
  margin-bottom: 1px;
  font-size: 14px;
  text-align: center;
}
.img-details {
  float: right;
}

p {
  margin-top: 0px;
  margin: 0px;
  margin-bottom: 1px;
  font-size: 14px;
  color: black;
  text-shadow: rgb(0, 0, 0) 0px 1px 0px;
  text-align: center;
}

hr {
  width: 80%;
  opacity: 50%;
}
